* {
	padding: 0;
	margin: 0;
}

body {
	font-family: "Helvetica","Arial","san-serif";
}

@font-face {
	font-family: 'fontello';
	src: url('../fonts/fontello/font/fontello.ttf');
}

header {
    background-color: #f7f7f7;
    border-top: 0.5em solid #fff;
}

#page {
	position: relative;
	z-index: 20;
}

#nav_button {
	background: url('https://static.squarespace.com/static/ta/510c979be4b0e3b888b855d2/1352/assets/hamburger.png') 0 0 no-repeat;
    border: none !important;
    display: block;
    float: right;
    height: 39px;
    margin: 2em 2.5em 2em 2em;
    overflow: hidden;
    text-indent: -9999px;
    width: 39px;
}

#menu {
    background: #23272a;
    display: block;
    font-size: .8rem;
    font-weight: 400;
    height: 100%;
    letter-spacing: 3px;
    line-height: 1.3em;
    position: fixed;
    display: none;
    right: 0;
    top: 0;
    text-align: left;
    text-transform: uppercase;
    width: 200px;
    padding: 1em;
}

.animating #menu, .menu-visible #menu {
	display: block;
}

.animating #page {
	transition: transform .25s ease-in-out;
	-webkit-transition: -webkit-transform .25s ease-in-out;
}

.animating.left #page {
  transform: translate3d( -200px, 0, 0 );
  -webkit-transform: translate3d( -200px, 0, 0 );
}

.animating.right #page {
  transform: translate3d( 200px, 0, 0 );
  -webkit-transform: translate3d( 200px, 0, 0 );
}

.menu-visible #page {
  right: 200px;
}

#page, #menu {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	padding-left: 20%;
}

ul > a {
	color: #aaa;
}

ul > a:hover {
	color: white;
}

li {
	margin: 2em 0 1em 0;
}

#logo {
	border: none;
	width: 15%;
}

div > p > a {
	color: black;
}

div > p > a:hover {
	color: #de2a13;
}

#top > p {
	margin: 4em 0 2em 0;
	line-height: 3em;
	font-family: 'Raleway', sans-serif;
}

a > h1 {
	font-family: 'Raleway', sans-serif;
	color: #23272a;
}

div > p:first-of-type {
	font-family: "calluna","Georgia","serif";
	margin: 2em 0 2em 0;
}

div > p:last-of-type {
	font-family: 'Raleway', sans-serif;
}

h2 {
    color: #23272a;
    text-transform: uppercase;
    font-size: 1.3125rem;
    line-height: 1em;
    font-family: "calluna","Georgia","serif";
    font-weight: 400;
    letter-spacing: 5px;
    padding: 0px;
    border-top: 1px solid #23272a;
    max-width: 980px;
    margin: 0 auto;
}

span {
	position: relative;
    top: -10px;
    background-color: #f7f7f7;
    padding: 0 20px;
}

section > div {
	background-color: #f7f7f7;
	text-align: center;
	padding: 4em 20% 4em 20%;
	border-width: 1em 1em 1em 1em;
	border-color: white;
	border-style: solid;
}

#title {
	font-size: 350%;
	color: #23272a;
    font-family: 'Raleway', sans-serif;
    margin: 1.5em 0 2em 0;
    font-weight: bold;
}

button {
	margin: 4em;
	padding: 1em;
	width: 25%;
	border: none;
	color: white;
	background-color: #7bc8b3;
	border-radius: 5px;
}

button:hover {
	background-color: #578d7e;
}

section > div > img {
	width: 90%;
	margin: 1em;
	border: 1px solid lightgrey;
}

#me {
	width: 40%;
	border-radius: 50%;
}

#contact {
	font-family: 'fontello';
	font-size: 1.25em;
}


section  > div:last-of-type {
	padding-bottom: 7em;
	border-bottom: 2em white solid;
}

#cat, #week, #wandershare {
	border: none;
}


























