body {
	font-family: "Helvetica","Arial","san-serif";
}

header {
    background-color: #f7f7f7;
    border-top: 1em solid #fff;
}

#nav_button {
	background: url('https://static.squarespace.com/static/ta/510c979be4b0e3b888b855d2/1352/assets/hamburger.png') 0 0 no-repeat;
    border: none !important;
    display: block;
    float: right;
    height: 39px;
    margin: 15px;
    overflow: hidden;
    text-indent: -9999px;
    width: 39px;
}

nav {
    background: #000;
    display: block;
    font-size: .8rem;
    font-weight: 400;
    height: 100%;
    letter-spacing: 3px;
    line-height: 1.3em;
    position: fixed;
    right: 0;
    text-align: left;
    text-transform: uppercase;
    top: 0;
    width: 180px;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

ul > a {
	color: #aaa;
}

ul > a:hover {
	color: white;
}

li {
	margin: 2em 0 1em 0;
}

#logo {
	border: none;
	width: 20%;
}

div > p > a {
	color: black;
}

div > p > a:hover {
	color: #de2a13;
}

#top > p {
	margin: 4em 0 2em 0;
}

h2 {
    color: #23272a;
    text-transform: uppercase;
    font-size: 1.3125rem;
    line-height: 1em;
    font-family: "calluna","Georgia","serif";
    font-weight: 400;
    letter-spacing: 5px;
    padding: 0px;
    border-top: 1px solid #23272a;
    max-width: 980px;
    margin: 0 auto;
}

span {
	position: relative;
    top: -10px;
    background-color: #f7f7f7;
    padding: 0 20px;
}

section > div {
	background-color: #f7f7f7;
	margin: 0 0 1em 0;
	text-align: center;
	padding: 3em 20% 3em 20%;
}

#title {
	font-size: 350%;
    font-family: "brandon-grotesque","Helvetica-Neue","Helvetica","Arial","san-serif";
    margin: 1.5em 0 2em 0;
}

button {
	margin: 4em;
	padding: 1em;
	width: 25%;
	border: none;
	color: white;
	background-color: #7bc8b3;
	border-radius: 5%;
}

button:hover {
	background-color: #578d7e;
}

section > div > img {
	width: 90%;
	margin: 1em;
	border: 1px solid lightgrey;
}

#me {
	width: 40%;
	border-radius: 50%;
}